.App {
    text-align: center;
  }
  
  .App-logo {
    height:150px;
    width: 150px;
    pointer-events: none;
    color: #61dafb;
  }
  
  
  .App-header-english-list {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    background-color: #61dafb;
  }

  .list-scrollbar::-webkit-scrollbar{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #fff;
    width: 10px;
    max-height: 10px;
  }
  
  